PORT=8080

MONGODB_CNN= "---coloco la cadena de conexión que me la da mongodbAtlas"

USER_COLOCADO_EN_LA_NuEVA_BASE_DE_SATOS_MONGODBATLAS= "--debo colocarlo en la cadena de conexion donde dice <username> eliminando inclusive los signos de <>"
PASSWORD_CREADO_POR_MONGOATLA="-----debo colocarlor en la  cadena de conexion donde dice <password> eliminando inclusive los signos de mayor a menor y menor..."

EL_TEST= "---DEBE SER SUSTITUIDO POR OTRO NOMBRE QUE YO Le DÉ A LA BASE DE DATOS; EJEMPLO: cafeDB----",
"----SE CLOCOCO EL NOMBRE QUE LE CREE QUE FUE : pokemon-----"

"----------Se guardaran las imagenes  que estara en la carperta uploads en otro servidor llamado Cloudinary  y guardará cada imagen con la direccion http://......,  ya heroku me las borreria----- Posdata:  El Hosting Cloudinary tambien guarda video ademas de imagenes--"

GOOGLE_CLIENTE_ID="------ Debo colocar la informacion que me da cloudinary, tanto el apiky-key como apiky.secrete----  "